{% extends 'main_blog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="article_list">
      {% if article_list %}
          <h1>Список статей</h1>
          {% for article in article_list %}
            <article>
                <div class="article_topic">
                    <h5>Автор:  {{ article.author }}</h5>
                    <h5>Дата публикации:  {{ article.pub_date }}</h5>
                </div>

                <div class="article_photo"></div>

                <div class="artcle_name">
                    {{article.title }}
                </div>
                <div class="article_content">
                    <p>{{ article.content|truncatechars:200 }}</p>
                    <a href="{% url 'main_blog:article_name' art_name=article.slug %}">Читать далее</a>
                </div>
            </article>
          {% endfor %}
      {% else %}
          <h1>Нет доступных статей.</h1>
      {% endif %}
    </div>
{% endblock %}
