{% extends 'main_blog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <title>Список статей</title>
    <style>
      /* Стили CSS для лучшего внешнего вида */
      body {
        font-family: Arial, sans-serif;
        background-color: #F5F5F5;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;
      }
      .article {
        background-color: #FFFFFF;
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .article h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .article p {
        font-size: 18px;
        line-height: 1.5;
      }
    </style>
    <div class="container">
      <h1>Список статей</h1>
      {% if article_list %}
        {% for article in article_list %}
          <div class="article">
            <h2>{{ article.title }}</h2>
            <p>{{ article.content|truncatechars:200 }}</p>
            <a href="{% url 'main_blog:article_name' art_name=article.slug %}">Читать далее</a>
    </div>

        {% endfor %}
      {% else %}
        <p>Нет доступных статей.</p>
      {% endif %}
    </div>
{% endblock %}
